<div class="d-flex flex-column gap-3">
    <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item fw-bold">Cars</li>
            <li class="breadcrumb-item" aria-current="page">List Cars</li>
        </ol>
    </nav>
    <!-- Alert success -->
    <% if (alert.successMsg.length) { %>
    <div
        class="alert alert-success alert-dismissible w-50 position-fixed"
        role="alert"
        id="success-alert"
    >
        <div><%= alert.successMsg[0] %></div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% } %>

    <div class="d-flex flex-wrap justify-content-between">
        <h4 class="fw-bold my-0 px-1"><%= contentTitle %></h4>
        <button class="btn btn-primary" id="btnAddCar">Add New Car</button>
    </div>
    <div class="d-flex gap-3 mb-3 flex-wrap">
        <button class="btn btn-outline-primary">All</button>
        <button class="btn btn-outline-primary">Small</button>
        <button class="btn btn-outline-primary">Medium</button>
        <button class="btn btn-outline-primary">Large</button>
    </div>
    <div class="row gy-4 justify-content-center">
        <!-- Card -->
        <% carsData.forEach(car => { %>
        <div class="col-12 col-lg-6 col-xl-4">
            <div class="card row shadow-sm pt-4 mx-auto">
                <div class="col">
                    <img
                        src="<%= car.image %>"
                        class="card-img-top object-fit-cover"
                        alt="car"
                        height="300px"
                    />
                </div>
                <div class="card-body col">
                    <p><%= car.name %></p>
                    <h5 class="card-title fw-bold">
                        Rp. <%= car.rentPerDay.toLocaleString('id-ID') %> / day
                    </h5>
                    <p class="card-text fw-light">
                        Updated at <%= car.updatedAt.toLocaleString('id-ID') %>
                    </p>
                    <div class="d-flex justify-content-center gap-5">
                        <a href="#" class="btn btn-outline-danger w-50">Delete</a>
                        <a href="cars/<%= car.id %>/edit" class="btn btn-success w-50">Edit</a>
                    </div>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
</div>
